@page "/incorrectCredentials/{value}"

<h3>Incorrect Credentials</h3>

@if (value.IsNullOrEmpty())
{
    <h3>Nie masz tutaj dostępu lub podałeś niepoprawne dane logowania</h3>
}
else
{
    <h3>@value</h3>
}


@code {

    [Inject] ITokenService _tokenService { get; set; }
    [Inject] AuthenticationStateProvider _authenticationStateProvider { get; set; }
    [Inject] PageHistoryState _pageHistoryState { get; set; }
    [Inject] NavigationManager _navigationManager { get; set; }
    [Parameter] public string value { get; set; }

    protected override void OnInitialized()
    {
        string url = _navigationManager.Uri;
        _pageHistoryState.AddPageToHistory(url);
        base.OnInitialized();
        RefreshAccessToken();
    }

    public async void RefreshAccessToken()
    {
        var token = await _tokenService.GetNewAccessToken();
        if (!token.IsNullOrEmpty())
        {
            await _authenticationStateProvider.GetAuthenticationStateAsync();
            //_navigationManager.NavigateTo(_pageHistoryState.GetGoBackPage());
        }
    }

}
