<AuthorizeView>
    <Authorized>
        <a href="Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <img width="800" src="https://img.android.com.pl/images/user-images/2021/11/You_Shall_Not_Pass_0-1_screenshot.jpg"/>
        <a href="Login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>
