@page "/registered";

<AuthorizeView>
    <NotAuthorized Context="login">
        <div align="center">
            <h3>Thank You for registration please check Your email</h3>
        </div>
    </NotAuthorized>
</AuthorizeView>

