@page "/resetpassword/{_id}"

<h3>ResetPassword</h3>

<EditForm Model=@typeof(ResetPasswordDto) OnSubmit="Confirm">
    <div>
        <th><label for="Password">Password</label></th>
        <td><InputText id="Password" @bind-Value="_resetPasswordDto.Password"></InputText></td>
        
        <th><label for="ConfirmPassword">ConfirmPassword</label></th>
        <td><InputText id="ConfirmPassword" @bind-Value="_resetPasswordDto.ConfirmPassword"></InputText></td>

    </div>
    <button type="submit" class="btn btn-primary">Register</button>

</EditForm>


